.EntryThumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
}
.othersbtn {
  border: 1px solid rgb(198, 192, 255);
}
.btn {
  color: #fbf843;
  background-color: rgb(166, 255, 0);
}
