
  .image {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    img {
      display: block;
      border-radius: 16px;
      width: 100%;
      height: auto;
         
    }
  }
  .box{
    margin: 20px
  }