.entryDetail {
  width: calc(100% - 32px);
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.entryDetailTitle {
  font-weight: bold;
  font-size: 32px;
  color: #fffb4a;
  padding-right: 32px;
  border-bottom: 4px solid #fffb4a;
}

.description {
  font-size: 14px;
}

.image {
  width: 100%;
}

.image img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 370px;
  max-width: 640px;
}
