.entryBody {
  color: #fffb4a;

  img {
    width: 100%;
    height: auto;
  }

  a {
    color: #fffb4a;
  }

  & p4 {
  }

  & ul {
    margin: 32px;
  }

  & li {
    padding: 16px;
  }
}
// ↑scssを導入したから書き方変わった。
