.entryItem {
  border-radius: 16px;
  overflow: hidden;
}

.entryItemTitle {
  display: none;
}

.description {
  display: none;
}

.image {
  margin: 0;
  grid-area: image;
  font-size: 14px;

  & img {
    width: 100%;
    height: auto;
    height: 350px;
    object-fit: cover;
  }
}
.title {
  color: blue;
}
