.EntryThumbnailContainer {
  display: flex;
  flex-wrap: wrap;
}
.title {
  background-color: rgb(234, 2, 255);
}
.works {
  background-color: rgb(0, 247, 255);
  color: #fffb4a;
  text-decoration: none;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 3px solid #fbf843;
  width: 15%;
}
